/* universal style */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    color: #FFF;
}

/* banner style */
.banner{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/images/Banner_Image.png');
    
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    height: 600px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 16px;
}
.banner h3{
    padding-top: 177px;
    text-align: center;
    color: #fff;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    
}
.banner h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* category style */
.category h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.category h5{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.category img {
    width: 802.9px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

/* party section design */
.party{
    background-image: url('/images/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 600px;
}
